.home-banner{
    background-image: url(img/banners/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}






